.searchBar_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar {
  width: 80%;
  max-width: 50rem;
  height: 3rem;
  border: 2px solid rgb(2, 89, 250);
  background-color: rgb(219, 219, 219);
  font-size: 1.5rem;
  color: rgb(2, 89, 250);
  padding-left: 3vw;
  border-radius: 30px;
}
